:root{
    --background-dark: #333;
    --blue-deafult: #3B5998;
    --secundary-bg-dark: #515151;
    --color-theme: #6C718A;
    --out-color: #FE4242;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
}

.sidebar{
    background-color: var(--secundary-bg-dark);
    border-radius: 5px;
    padding: 20px;
    margin: 23% 5%;
    transform: translate(-50%,-50%);
    position: fixed;
}

.sidebar ul li:nth-child(1){
    padding-top: 0%;
}

.sidebar ul li{
    font-size: 2em;
    padding-top: 95%;
    list-style: none;
}

.sidebar ul li a{
    color: var(--blue-deafult);
    transition: .2s;
}

#logoff a{
    color: var(--out-color);
}

.sidebar ul li a:hover{
    opacity: .5;
}

/* WELCOME */

.welcome{
    background-color: var(--blue-deafult);
    width: 40%;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
    margin: 3% 15%;
    position: relative;
}

.welcome .title, .welcome .description{
    color: #fff;
    float: left;
}

.welcome img{
    width: 25%;
    float: right;
    margin-top: -50px;
}


/* AVG GENERAL */
#main-container{
    margin-left: 4%;
}

#main-container .title{
    color: #fff;
    margin: 20px 0px 30px 40px;
}

#main-container .card{
    margin-left: 10%;
    padding: 10px;
    background-color: var(--secundary-bg-dark);
    border: 1px solid var(--color-theme);
}

#main-container .card .card-body .card-title{
    color: #fff;
    font-weight: bold;
}
#main-container .card .card-body i{
    display: block;
    text-align: center;
    font-size: 3em;
}


/* MACHINES */

#status_warning{
    border: 1px solid yellow;
}

#status_warning .fa-exclamation-circle{
    color: yellow;
}

#status_danger{
    border: 1px solid red;
}

#status_danger .fa-exclamation-circle{
    color: red;
}

#status_good{
    border: 1px solid green;
}

#status_good .fa-exclamation-circle{
    color: green;
}

#machines-container .fa-exclamation-circle{
    position: relative;
    top: -40px;
    right: -55px;
}

#machines-container{
    margin-left: 4%;
}

#machines-container .title{
    color: #fff;
    margin: 20px 0px 30px 40px;
    text-align: center;
}

#machines-container .title .fas{
    color: var(--out-color);
}

#machines-container .card{
    margin-left: 10%;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 0px;
    background-color: var(--secundary-bg-dark);
    color: #fff;
    text-align: center;
}

#machines-container .datas{
    background-color: #6b6a6a;
    padding: 3px;
    border-radius: 5px;
}

#machines-container .card-body .row {
    margin: 5px;
}

#machines-container .card-body .row b{
    margin-left: 30px;
}

#machines-container .card-body a i{
    margin-top: 30px;
}

