/* GERAIS */

:root{
    --color-blue: #3b5998;
}

body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: #444;
    font-size: 14px;
}

/* NAVBAR */
header, .navbar{
    background-color: #000;
    height: 58px;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 30px;
}

.navbar-brand{
    padding: 0;
    color: #fff;
    margin-left: 6%;
}

.navbar-brand:hover{
    color: #fff
}

#navbar-links a{
    color: #fff;
}

#navbar-links a:hover{
    border-bottom: 3px solid var(--color-blue);
    cursor: pointer;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
    text-transform: uppercase;
}
.navbar-nav{
    margin-right: 10%;
}

/* SLIDER */

.container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.91);
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300px;
    margin-bottom: 100px;
    color: #fff;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.91);
}

/*------- Login / Register -----------*/

.main-btn{
    background-color: var(--color-blue);
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3x solid transparent;
    transition: .5ms;
}

.main-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 3px solid var(--color-blue);
}

.btn-modal{
    background-color: var(--color-blue);
}

.carousel-indicators .active{
    background-color: var(--color-blue);
}

.content-login {
    height: 50vh;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}




.login button.btn_entrar {
    margin: 4% 0% 3% 25%;
    background-color:  rgb(75, 75, 75);
    color: rgb(0, 63, 99); 
    color: #fff;
    border-radius: 5px;
    width: 50%;
    border: none;
    text-transform: uppercase;
}

.login button.btn_entrar:hover {
    background-color: rgb(75, 75, 75);
    color: rgb(0, 63, 99); 
}

.login button.btn_cadastre {
    margin: 4% 0% 3% 25%;
    background-color: rgb(0, 63, 99);
    border-radius: 5px;
    color: #fff;
    width: 50%;
    border: none;
    text-transform: uppercase;
}

.login button.btn_cadastre:hover {
    background-color: rgb(0, 63, 99);
    color: rgb(117, 116, 116); 
}

.content-register {
    height: 70vh;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.register input, .login input {
    margin: 1% 0 4% 0;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    outline: none;
    color: #fff;
    text-align: center;
}

.register button.btn_cadastre {
    margin: 4% 0% 3% 25%;
    background-color: rgb(0, 63, 99);
    border-radius: 5px;
    color: #fff;
    width: 50%;
    border: none;
    text-transform: uppercase;
}

.register button.btn_cadastre:hover{
    border: 2px solid #fff;
    color: #fff; 
}

.register button.btn_voltar {
    margin: 4% 0% 3% 25%;
    background-color:  rgb(75, 75, 75);
    color: rgb(0, 63, 99); 
    color: #fff;
    border-radius: 5px;
    width: 50%;
    border: none;
    text-transform: uppercase;
}

.register button.btn_voltar:hover {
    border: 2px solid #fff;
    color: #fff; 
}

/* TIME */
#team-area .card{
    width: 19%;
    text-align: center;
    margin: 5px;
}

#team-area .card-title{
    color: #333;
    font-size: 1.2em;
}

#team-area .card-text{
    color: #333;
    font-size: 1em;
}


/* ABOUT */

#about-area{
    background-color: #000;
}

.main-title{
    color: #fff;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after{
    content: "";
    border-top: 2px solid #fff;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42%;
}

.about-title{
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
    line-height: 30px;
}

#about-list i{
    color: var(--color-blue);
    margin-right: 15px;
}

#about-area .card{
    border: none;
    background-color: #000;
}

#about-area .card-text{
    color: #fff;
}

/* DADOS */

.circle-box div{
    padding: 0 40px;
}

.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}

#data-area p{
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.91);
}

/* TEAM */
#team-area, #team-area .card{
    background-color: #000;
}

#team-area .card-text, #team-area .card-title{
    color: #fff;
}

.card-body{
    text-align: center;
}

/* SERVICE */
#service-area p{
    margin: 10px;
}
#service-area p, #service-area{
    font-size: 20px;
    color: #fff;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.91);
    text-align: center;
}

#service-area .fas , #service-area .fab{
    font-size: 50px;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.91);
    color: var(--color-blue);
}



/* FOOTER */

#contact-area{
    text-align: center;
   background-color: #000000;
   
}

.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--color-blue);
}

.contact-box i{
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
}

.contact-box p{
    font-size: 16px;
}

.contact-title{
    font-weight: bold;
    color: var(--color-blue);
}

#msg-box p{
    font-size: 22px;
}

#contact-form input, #contact-form textarea{
    background-color: transparent;
    margin-bottom: 15px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    color: #fff;
}

#contact-form input:focus, #contact-form textarea:focus{
    border-bottom: 3px solid var(--color-blue);
}



#contact-form .main-btn{
    outline: none;
    height: 50px;
    transition: .5s;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--color-blue);
    border-radius: 10px;
    
}

#contact-form .main-btn:hover{
    color: var(--color-blue);
}

/* COPYRIGTH */
#copy-area{
    background-color: #000;
}

#copy-area .container{
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p{
    margin-bottom: 0;
}

#copy-area .container a{
   font-weight: bold;
   color: #fff; 
   transition: .5s;
}

#copy-area .container a:hover{
    text-decoration: none;
    color: var(--color-blue);
}


/* RESPONSIVE */

@media(max-width: 768px){
    /* GERAL */
    .container{
        padding: 20px 0;
    }

    /* SLIDER */
    #mainSlider .carousel-inner, #mainSlider .carousel-item{
        height: auto;
    }

    #mainSlider .carousel-caption h2{
        font-size: 28px;
    }

    #mainSlider .carousel-caption p{
        font-size: 18px;
        margin-bottom: 40px;
    }

    .carousel-caption{
        left: 10%;
        right: 10%;
    }


    /* ABOUT */
    #about-area img{
        margin-top: 100px;
    }

    /* DADOS */
    .circle-box div{
        padding: 0 10px;
    }

    #data-area p{
        font-size: 16px;
    }

    /* TEAM */
    .card-title{
        font-size: 14px;
    }

    .card-text{
        font-size: 12px;
    }

    

    /* NEWS */
    #news-area p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #email-input{
        width: 70%;
    }

    #call-area{
        margin-top: 30px;
    }

    #call-area .container{
        padding: 30px;
    }

    #call-area p, #call-area #call-btn{
        font-size: 15px;
    }

}


@media(max-width: 425px){
    /* SLIDER */

    #mainSlider{
        margin-top: 90px;
    }

    #mainSlider .carousel-caption{
        top: 5%;
    }
    #mainSlider .carousel-caption h2{
        font-size: 18px;
        margin-bottom: 40px;
    }

    #mainSlider .carousel-caption p{
        display: none;
    }

    .carousel-caption .main-btn{
        font-size: 14px;
    }


    /* ABOUT */

    .main-title{
        font-size: 30px;
    }

    #about-area img{
        margin-top: 0;
        margin-bottom: 30px;
    }

    /* DATA */
    .circle-box{
        width: 50%;
    }


    /* CONTACT */
    .contact-box{
        border: none;
    }

}
