* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: sans-serif;
}

body {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 500px;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

.input-padrao {
    padding: 0% 0% 0% 1%;
    margin-bottom: 5%;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    width: 343px;
}

.input-padrao:hover {
    transition: 0.3s ease-in;
    box-shadow: 7px 6px 15px #000000;
}

.input-padrao:focus {
    transition: 0.3s ease-in;
}

.btn-cadastro {
    margin-left: 2%;
    padding: 1%;
    cursor: pointer;
    font-size: 15px;
}

.btn-cadastro:hover {
    color: #000000;
}

#btn_Login_entra {
    list-style: none;
    color: rgb(43, 98, 201);
    border: none;
}

#btn_entrar {
    margin-left: 9%;
    margin-left: 9%;
    box-shadow: 2px 1px 5px black;
    cursor: pointer;
}

#btn_entrar:hover {
    box-shadow: 1px 0px 2px rgba(20, 20, 20, 0.781);
}


/* /////////////LOGIN///////////////////////////LOGIN//////////////////LOGIN///////////////////// */

.titulo-login {
    font-family: 'Iceland', cursive;
    font-size: 210%;
    letter-spacing: 1.3vh;
    color: #1890ff;
    margin-bottom: 1.4vh;
}


/* ///////////////////ANIMAÇÃO /////////////////////////////// */

.line {
    margin-bottom: 2%;
    color: #8f8f8f;
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    text-align: center;
    white-space: nowrap;
    /* overflow: hidden; */
    width: 9.2em;
    margin-left: 2%;
}

.input-padrao-login {
    padding: 0% 0% 0% 1%;
    margin-bottom: 5%;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    width: 343px;
}

.input-padrao-login:hover {
    transform: scaleX(1.01);
    transition: 0.3s ease-in;
    box-shadow: 3px 2px 4px #000;
}

.input-padrao-login:focus {
    transform: scale(1);
    transition: 0.3s ease-in;
}

.blocoIcones {
    width: 400px;
}

.icone-olho {
    width: 30px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    float: right !important;
    margin-right: 3%;
    cursor: pointer;
}

.input-padrao2 {
    padding: 0% 0% 0% 1%;
    margin-bottom: 5%;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    width: 343px;
}

.btn-links {
    width: 25%;
    height: 6vh;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(73, 72, 72);
}

#btn_entrar-login {
    color: #1890ff;
    float: right;
    cursor: pointer;
    background-color: white;
    width: 20%;
    height: 6vh;
    border: 1px solid #1890ff;
    border-radius: 3px;
    transition: 0.5s ease;
    margin-right: 14%;
}

#btn_entrar-login:hover {
    box-shadow: 1px 1px 2px #1890ff;
    color: whitesmoke;
    background-color: #1890ff;
}


/* RESPOSIVIDADE */

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 883px) {
    .checkbtn {
        display: block;
        z-index: 999;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(5, 0, 4, 0.986);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 999;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        z-index: 999;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: white;
    }
    #check:checked~ul {
        left: 0;
    }
    button {
        margin-left: -12px;
    }
    .input-padrao {
        margin: 5%;
        padding: 0% 0% 0% 1%;
        height: 40px;
        width: 292px;
    }
    .btn-cadastro {
        margin-left: 5%;
        padding: 1%;
        cursor: pointer;
        font-size: 15px;
    }
    #btn_entrar {
        margin-left: 26%;
    }
}