        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font: sans-serif;
        }
        
        body {
            background: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 1.5%;
        }
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 457px;
            height: 505px;
        }
        /* ////////////////////////////////////////////////////////////////////////////////////////////////// */
        
        .input-padrao {
            padding: 0% 0% 0% 1%;
            margin-bottom: 5%;
            line-height: 32px;
            display: inline-block;
            vertical-align: middle;
            width: 343px;
        }
        
        .input-padrao:hover {
            transition: 0.3s ease-in;
            box-shadow: 7px 6px 15px #000000;
        }
        
        .input-padrao:focus {
            transition: 0.3s ease-in;
        }
        
        .btn-cadastro {
            margin-left: 2%;
            padding: 1%;
            cursor: pointer;
            font-size: 15px;
        }
        
        .btn-cadastro:hover {
            color: #000000;
        }
        
        #btn_Login_entra {
            list-style: none;
            color: rgb(43, 98, 201);
            border: none;
        }
        
        #btn_entrar {
            margin-left: 9%;
            margin-right: 14%;
            cursor: pointer;
        }
        /* /////////////LOGIN///////////////////////////LOGIN//////////////////LOGIN///////////////////// */
        
        .titulo-login {
            font-family: "Iceland", cursive;
            font-size: 210%;
            letter-spacing: 1.3vh;
            color: #1890ff;
            margin-bottom: 1.4vh;
            cursor: pointer;
        }
        /* ///////////////////ANIMAÇÃO /////////////////////////////// */
        
        .line {
            margin-bottom: 2%;
            color: #8f8f8f;
            font-family: "Abel", sans-serif;
            font-size: 1em;
            text-align: center;
            white-space: nowrap;
            /* overflow: hidden; */
            width: 9.2em;
            margin-left: 2%;
        }
        
        .input-padrao {
            padding: 0% 0% 0% 1%;
            margin-bottom: 5%;
            line-height: 32px;
            display: inline-block;
            vertical-align: middle;
            width: 343px;
        }
        
        .input-padrao:hover {
            transform: scaleX(1.01);
            transition: 0.3s ease-in;
            box-shadow: 3px 2px 4px #000;
        }
        
        .input-padrao:focus {
            transform: scaleX(1);
            transition: 0.3s ease-in;
        }
        
        .blocoIcones {
            width: 400px;
        }
        
        .icone-olho {
            width: 30px;
            height: 32px;
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            float: right !important;
            margin-right: 3%;
        }
        
        .input-padrao2 {
            padding: 0% 0% 0% 1%;
            margin-bottom: 5%;
            line-height: 32px;
            display: inline-block;
            vertical-align: middle;
            width: 343px;
        }
        
        .combo-box {
            width: 343px;
            height: 35px;
            margin-bottom: 5%;
        }
        
        .btn-links {
            width: 25%;
            height: 6vh;
            border: none;
            text-transform: uppercase;
            background-color: transparent;
            cursor: pointer;
        }
        
        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        
        a:hover {
            color: rgb(73, 72, 72);
        }
        
        #btn_entrar {
            color: #1890ff;
            float: right;
            cursor: pointer;
            background-color: white;
            width: 25%;
            height: 8%;
            border: 1px solid #1890ff;
            border-radius: 3px;
            transition: 0.5s ease;
        }
        
        #btn_entrar:hover {
            box-shadow: 1px 1px 2px #1890ff;
            color: whitesmoke;
            background-color: #1890ff;
            transform: scaleX(1.01);
        }
        /* RESPOSIVIDADE */
        
        @media (max-width: 952px) {
            .container {
                margin-left: 9%;
                margin-top: 70%;
            }
            label.logo {
                font-size: 30px;
                padding-left: 50px;
            }
            .line {
                margin-bottom: 1%;
                color: #8f8f8f;
                font-family: "Abel", sans-serif;
                font-size: 0.9em;
                text-align: center;
                white-space: nowrap;
                /* overflow: hidden; */
                width: 9.2em;
                margin-left: 2%;
            }
        }
        
        @media (max-width: 883px) {
            .titulo-login {
                text-align: initial;
                padding-top: 7%;
                font-size: 7vh;
                margin-right: 70px;
            }
            nav ul li a {
                font-size: 20px;
            }
            a:hover,
            a.active {
                background: none;
                color: #1890ff;
            }
            #check:checked~ul {
                left: 0;
            }
            .input-padrao,
            .combo-box {
                margin: 3%;
                padding: 0% 0% 0% 1%;
                height: 9%;
                width: 69%;
                display: inline-block;
                vertical-align: middle;
            }
            .blocoIcones {
                width: 300px;
            }
            .icone-olho {
                display: none;
                /* width: 30px;
                height: 32px;
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                float: right !important;
                margin-right: 3%;
                margin-right: 20%;
                margin-top: 3.4%; */
            }
            #btn_entrar {
                margin-left: 6%;
                margin-top: 4%;
                cursor: pointer;
                float: left;
                width: 38%;
            }
            #btn_logar {
                float: left;
                position: unset;
                margin-top: 3%;
            }
            #btn_voltar {
                display: none;
                width: 68%;
                border: none;
                text-transform: uppercase;
                background-color: transparent;
                cursor: pointer;
            }
            .line {
                display: none;
            }
            #form_cadastro {
                width: 300px;
            }
            .contato {
                align-items: center;
                justify-content: center;
            }
            body {
                height: 390px;
            }
        }