/* Gerais */
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(20, 20, 20);
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
  background-color: #030303;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
}

.navbar-brand {
  padding: 0;
  color: #FFF;
}

.navbar-brand:hover {
  color: #FFF;
}

#navbar-links a {
  color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #3b5998;
}

.nav-item:hover {
  border-bottom: 3px solid #ffffff;
}

/* LOGIN E CADASTRO */
.main-btn{
  background-color: var(--color-blue);
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3x solid transparent;
  transition: .5ms;
}

.main-btn:hover{
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: 3px solid var(--color-blue);
}

.btn-modal{
  background-color: var(--color-blue);
}

.carousel-indicators .active{
  background-color: var(--color-blue);
}

.content-login {
  height: 50vh;
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}




.login button.btn_entrar {
  margin: 4% 0% 3% 25%;
  background-color:  rgb(75, 75, 75);
  color: rgb(0, 63, 99); 
  color: #fff;
  border-radius: 5px;
  width: 50%;
  border: none;
  text-transform: uppercase;
}

.login button.btn_entrar:hover {
  background-color: rgb(75, 75, 75);
  color: rgb(0, 63, 99); 
}

.login button.btn_cadastre {
  margin: 4% 0% 3% 25%;
  background-color: rgb(0, 63, 99);
  border-radius: 5px;
  color: #fff;
  width: 50%;
  border: none;
  text-transform: uppercase;
}

.login button.btn_cadastre:hover {
  background-color: rgb(0, 63, 99);
  color: rgb(117, 116, 116); 
}

.content-register {
  height: 70vh;
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}

.register form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.register input, .login input {
  margin: 1% 0 4% 0;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  outline: none;
  color: #fff;
  text-align: center;
}

.register button.btn_cadastre {
  margin: 4% 0% 3% 25%;
  background-color: rgb(0, 63, 99);
  border-radius: 5px;
  color: #fff;
  width: 50%;
  border: none;
  text-transform: uppercase;
}

.register button.btn_cadastre:hover{
  border: 2px solid #fff;
  color: #fff; 
}

.register button.btn_voltar {
  margin: 4% 0% 3% 25%;
  background-color:  rgb(75, 75, 75);
  color: rgb(0, 63, 99); 
  color: #fff;
  border-radius: 5px;
  width: 50%;
  border: none;
  text-transform: uppercase;
}

.register button.btn_voltar:hover {
  border: 2px solid #fff;
  color: #fff; 
}

/* Slider Carrossel*/

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940)  alternate both;
                animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940)  alternate both;
                
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);         
}


 @-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}


/* Slider Carrossel 2*/

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-2 20:37:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


/* Slider */

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  background-color: #0000008e;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: rgb(255, 255, 255);
  background-color: #0000008e;
}

.main-btn {
  background-color: #3b5998;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #3EC1D5;
}

.carousel-indicators .active {
  background-color: #3b5998;
}

/* Sobre a empresa */

#about-area {
  background-color: rgb(20, 20, 20);
}

.main-title {
  color: rgb(219, 217, 217);
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid rgb(122, 122, 122);
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.img-fluid{
  box-shadow: 3px 3px 4px black;
}

.about-title {
  font-size: 17px;
  color: rgb(228, 224, 224);
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: #3b5998;
  margin-right: 15px;
}

/* Serviços */

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i, .service-box h4 {
  transition: .5s;
  color:  #3b5998;

}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color:  #3b5998;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
  color: white;
}

/* Dados */

.circle-box div {
  padding: 0 40px;
}

.progressbar-text {
  font-weight: bold;
  font-size: 32px;
}

#data-area p {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

/* Time */

.card-body {
  text-align: center;
}

.card-body h5 {
  color: black;
}

.card-body  p{
  color: black;
}

/* Trabalhe conosco */

#apply-area {
  height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  padding: 70px 50px;
  text-align: center;
}

#company-img {
  background-image: url('../img/empresa.jpg');
  background-size: cover;
  height: 100%;
}

#pattern-img h4, #pattern-img p {
  color: #FFF;
}

#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p {
  margin-bottom: 20px;
}

#apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #FFF;
}

#apply-btn:hover {
  border-color: #3b5998;
  background-color: #3b5998;
}

/* Portfólio */

.project-box {
  margin-bottom: 30px;
}

#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portfolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover {
  color: #FFF;
  border: 1px solid #3b5998;
  background-color: #3b5998;
}

/* News Letter */

#news-area {
  text-align: center;
  background-color: rgb(20, 20, 20);
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}

#email-input {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #65DAF9;
  display: inline;
  box-sizing: border-box;
  width: 40%;
  height: 40px;
}

#news-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #65DAF9;
  background-color: #65DAF9;
  color: #FFF;
  text-transform: uppercase;
  height: 40px;
  padding: 0 30px;
  margin-left: -130px;
  position: absolute;
  transition: .5s;
}

#news-btn:hover {
  background-color: rgb(20, 20, 20);
  color: #65DAF9;
}

/* Call To Action */

#call-area {
  background-color: #65DAF9;
  text-transform: uppercase;
}

#call-area .container {
  padding: 40px 100px;
}

#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  height: 60px;
  line-height: 60px;
  letter-spacing: 2px;
  display: inline;
}

#call-area #call-btn {
  background-color: #FFF;
  color: #65DAF9;
  font-weight: bold;
  margin-left: 30px;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
}

/* Footer */

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #3EC1D5;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: #3EC1D5;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"], #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #3EC1D5;
}

/* Copy */

#copy-area {
  background-color: #F1F1F1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #3EC1D5;
}

.lasttexto{
  color: #444;
}

/* responsive */
@media(max-width: 768px) {
  
  /* geral */
  .container {
    padding: 20px 0;
  }
  
  /* slider */
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: auto;
  }

  .texto-1{
    font-size: 440%;
  }

  .texto-2{
    font-size: 340%;
    display: inline;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }
  
  /* about */
  #about-area img {
    margin-top: 100px;
  }
  
  /* data */
  .circle-box div {
    padding: 0 10px;
  }

  #data-area p {
    font-size: 16px;
  }
  
  /* team */
  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }

  /* apply */
  #apply-area .apply-box {
    padding: 50px 25px;
  }

  /* news */
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #email-input {
    width: 70%;
  }

  #call-area {
    margin-top: 30px;
  }

  #call-area .container {
    padding: 30px;
  }

  #call-area p, #call-area #call-btn {
    font-size: 16px;
  }

}


@media(max-width: 425px) {

  /* slider */
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 650px;
    width: 100%;
    display: none;
    

  #mainSlider {
    margin-top: 90px;
  }

  #mainSlider .carousel-caption {
    top: 5%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  #mainSlider .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {
    
    font-size: 14px;
  }

  /* about */
  .main-title {
    font-size: 30px;
  }

  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* data */
  .circle-box {
    width: 50%;
  }

  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }

  /* apply */
  #apply-area {
    height: auto;
  }

  #company-img {
    display: none;
  }

  /* filter */
  #portfolio-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 50%;
  }

  /* news */
  #news-area .main-title {
    font-size: 24px;
  }

  #news-area p {
    font-size: 16px;
  }

  #email-input {
    width: 80%;
  }

  #call-area p, #call-area #call-btn {
    font-size: 14px;
    letter-spacing: 0;
  }

  #call-area p, #call-area #call-btn {
    margin: 0;
    width: 50%;
  }

  /* contact */
  .contact-box {
    border: none;
    margin-bottom: 0;
  }

  /* LOGIN E CCADASTRO */

  .btn_entrar, .btn_voltar{
    width: 60% !important;
  }

  .btn_cadastre{
    width: 100% !important;
    margin: 0px !important;
  }

}