:root{
    --background-dark: #333;
    --blue-deafult: #252baf;
    --secundary-bg-dark: #333;
    --color-theme: #6C718A;
    --out-color: #FE4242;
}

.sidebar{
    background-color: var(--secundary-bg-dark);
    border-radius: 5px;
    padding: 20px;
    margin: 23% 4%;
    transform: translate(-50%,-50%);
    position: fixed;
}

.sidebar ul li:nth-child(1){
    padding-top: 0%;
}

.sidebar ul li{
    font-size: 2.4em;
    padding-top: 95%;
    list-style: none;
}

.sidebar ul li a{
    color: var(--blue-deafult);
    transition: .2s;
    text-shadow: 3px 3px 2px black;
}

#logoff a{
    color: var(--out-color);
}

.sidebar ul li a:hover{
    opacity: .5;
}

.modal-body label{
    text-transform: none;
}

/* RESPONSIVIDADE */
@media only screen and (max-width: 1440px){
    .sidebar{
        margin: 23% 4%;
    }
}

@media only screen and (max-width: 1080px){
    .sidebar{
        width: 100%;
        height: 70px;
        margin: 0px;
        bottom: 0;
        position: fixed;
        transform: translate(0%,0%);
        z-index: 100;
        border-radius: 0;

    }

    .sidebar ul li:nth-child(1){
        margin-left: 25%;
    }

    .sidebar ul li{
        font-size: 1.6em;
        display: inline-block;
        padding-top: 0%;
        margin-right: 9%;
    }
}

@media only screen and (max-width: 620px){
    .sidebar{
        height: 70px;
    }

    .sidebar ul li:nth-child(1){
        margin-left: 15%;
    }
}

@media only screen and (max-width: 425px){
    .sidebar ul li:nth-child(1){
        margin-left: 4% !important;
    }

    .sidebar ul li{
        font-size: 1.4em;
        margin-right: 11%;
    }
}

@media only screen and (max-width: 375px){
    .sidebar ul li:nth-child(1){
        margin-left: 5% !important;
    }

    .sidebar ul li{
        font-size: 1.4em;
        margin-right: 8%;
    }
}