:root {
    --background: #333333;
    --blue-deafult: #3B5998;
    --secundary-bg: #515151;
    --out-color: #FE4242;
    --color-text: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
}


/* MACHINES */

#status_warning{
    border: 1px solid yellow;
}

#status_warning .fa-exclamation-circle{
    color: yellow;
}

#status_danger{
    border: 1px solid red;
}

#status_danger .fa-exclamation-circle{
    color: red;
}

#status_good{
    border: 1px solid green;
}

#status_good .fa-exclamation-circle{
    color: green;
}

#machines-container .fa-exclamation-circle{
    position: relative;
    top: -40px;
    right: -55px;
}

#machines-container{
    margin-left: 4%;
}

#machines-container .title{
    color: #fff;
    margin: 20px 0px 30px 40px;
    text-align: center;
}

#machines-container .title .fas{
    color: var(--out-color);
}

#machines-container .card{
    margin-left: 10%;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 0px;
    background-color: var(--secundary-bg-dark);
    color: #fff;
    text-align: center;
}

#machines-container .datas{
    background-color: #6b6a6a;
    padding: 3px;
    border-radius: 5px;
}

#machines-container .card-body .row {
    margin: 5px;
}

#machineModal{
    padding: 80px;
}

#machineModal h6{
    color: var(--blue-deafult);
}

#machineModal .card{
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

#machines-container .card-body .row b{
    margin-left: 30px;
}

#machines-container .card-body .fa-chevron-down{
    margin-top: 30px;
}

/* MODAL */

.modal-body .row {
    margin-left: 10px;
}

.modal-body label {
    text-transform: uppercase;
    text-shadow: 0px 1px 2px black;
}

.modal-body b {
    margin-left: 10px;
}

.modal-title {
    color: var(--blue-deafult);
}

.modal-footer .btn {
    background-color: var(--blue-deafult);
}


/* SETTINGS */

#settings-container .container {
    margin-left: 14%;
}

#settings-container .title {
    color: var(--color-text);
}

#settings-container p {
    color: var(--color-text);
    font-size: 19px;
    margin-left: 15px;
}

#settings-container img {
    width: 450px;
    box-shadow: 8px 8px 5px black;
}

#settings-container .theme {
    margin-bottom: 20px;
}

.card-header #telegram, .card-header #slack{
    margin-left: 70%;
}

.card-header .fab{
    font-size: 30px;
    text-shadow: 3px 3px 2px black;
}

.card-body .card-text{
    color: #212529;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
    margin-bottom: 0px;
    margin-top: 5px;
}



.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--blue-deafult);
}

.card-header #slack input:checked+.slider {
    background-color: #960bdec9;
}

.card-header #telegram input:checked+.slider {
    background-color: #1e65ff;
}


input:focus+.slider {
    box-shadow: 0 0 1px var(--blue-deafult);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}


.slider.round:before {
    border-radius: 50%;
}

.modal-footer .btn{
    background-color: #3b5998;
}

/* HELP */

#main-container h1{
    color: #fff;
}

#main-container form input[type=text]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    margin:2%;
    outline: none;
    color: #fff;
    padding: 5px;
    transition: .2s linear;
}

#main-container form textarea{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    margin: 2%;
    margin-top: 32%;
    outline: none;
    color: #fff;
    padding: 0;
    transition: .2s linear;
}

#main-container form input[type=submit]{
    background-color: var(--blue-deafult);
    border: none;
    margin:2%;
    outline: none;
    color: #fff;
    padding: 5px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s linear;
}

#main-container form input[type=text]:focus, #main-container form textarea:focus{
    border-bottom: 2px solid var(--blue-deafult);
}

#main-container form input[type=submit]:hover{
    opacity: .5;

}


/* GRAPHS */
/* FILTERS */

#filters-container h1{
    color: #fff;
    margin: 20px 0px 30px 40px;
}

#filters-container form select, #filters-container form input[type=date] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    margin:2%;
    margin-left: 60px;
    outline: none;
    color: #fff;
    padding: 5px;
    transition: .2s linear;
}

#filters-container form option{
    color: #000;
}

#filters-container form i{
    color: #fff;
    font-size: 8em;
    margin-left: 150px;
    margin-top: 30px;
}

#filters-container form input[type=submit]{
    background-color: var(--blue-deafult);
    border: none;
    margin:2%;
    margin-left: 30%;
    transform: translate(-50%, -50%);
    outline: none;
    color: #fff;
    padding: 5px;
    transition: .2s linear;
}

#filters-container form input[type=text]:focus, #filters-container form textarea:focus{
    border-bottom: 2px solid var(--blue-deafult);
}

#filters-container form input[type=submit]:hover{
    opacity: .5;

}