:root {
    --background: #1a1a1a;
    --blue-deafult: #252baf;
    --secundary-bg: #333;
    --out-color: #FE4242;
    --color-text: #FFFFFF;
}
/* WELCOME */
.welcome{
    width: 100%;
    color: var(--color-text);
    position: relative;
    margin-top: 3%;
}

#logo{
    max-width: 20%;
}

#logo img{
    width: 50%; 
    margin-left: 15%;   
}

.fa-user{
    display: none;
}

.welcome h5{
    font-size: 1.1em;
    margin-left: 48%;
    cursor: pointer;
}

.welcome h5 .fa-chevron-down{
    padding: 10px;
}




/* AVG GENERAL */

#main-container .title{
    color: #fff;
    margin: 20px 0px 30px 40px;
}

#main-container .card .card-body .card-title{
    color: #fff;
    font-weight: bold;
}


@media only screen and (max-width: 1080px){
    .welcome h5{
        font-size: 1em;
        margin-left: 45%;
    }
}

@media only screen and (max-width: 820px){
    .welcome h5{
        margin-left: 40%;
    }
}

@media only screen and (max-width: 768px){
    .welcome h5{
        margin-left: 35%;
    }
}

@media only screen and (max-width: 530px){
    .welcome h5{
        margin-left: 25%;
    }
}

@media only screen and (max-width: 460px){
    .welcome h5{
        margin-left: 15%;
    }
}

@media only screen and (max-width: 400px){
    .welcome h5{
        display: none;
    }

    .fa-user{
        display: block;
        font-size: 1.5em;
        margin-left: 45%;
        padding: 60%;
    }

    #logo img{
        width: 100%;
    }    
}