
/* WELCOME */

.welcome{
    background-color: var(--blue-deafult);
    width: 40%;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
    margin: 3% 15%;
    position: relative;
}

.welcome .title, .welcome .description{
    color: #fff;
    float: left;
}

.welcome img{
    width: 25%;
    float: right;
    margin-top: -50px;
}

/* AVG GENERAL */
#main-container{
    margin-left: 4%;
}

#main-container .title{
    color: #fff;
    margin: 20px 0px 30px 40px;
}

#main-container .card{
    margin-left: 10%;
    padding: 10px;
    background-color: var(--secundary-bg-dark);
    border: 1px solid var(--color-theme);
}

#main-container .card .card-body .card-title{
    color: #fff;
    font-weight: bold;
}
#main-container .card .card-body i{
    display: block;
    text-align: center;
    font-size: 3em;
}


/* RESPONSIVIDADE */
@media only screen and (max-width: 1080px){
    .welcome{
        width: 60%;
    }

    .welcome img{
        margin-top: -10px;
    }
}

@media only screen and (max-width: 620px){
    .welcome{
        width: 80%;
    }

    .welcome img{
        margin-top: -10px;
    }
}