:root {
    --background: #333333;
    --blue-deafult: #3B5998;
    --secundary-bg: #515151;
    --out-color: #FE4242;
    --color-text: #FFFFFF;
}
/* WELCOME */
.welcome{
    width: 100%;
    color: var(--color-text);
    position: relative;
    margin-top: 3%;
}

#logo img{
    width: 30%; 
    margin-left: 30%;   
}

.fa-user{
    display: none;
}

.welcome h5{
    font-size: 1.2em;
    margin-left: 65%;
    cursor: pointer;
}

.welcome h5 .fa-chevron-down{
    padding: 10px;
}




/* AVG GENERAL */

#main-container .title{
    color: #fff;
    margin: 20px 0px 30px 40px;
}

#main-container .card{
    padding: 10px;
    background-color: var(--secundary-bg-dark);
    border: 1px solid var(--color-theme);
}

#main-container .card .card-body .card-title{
    color: #fff;
    font-weight: bold;
}
#main-container .card .card-body i{
    display: block;
    text-align: center;
    font-size: 3em;
}

@media only screen and (max-width: 1080px){
    .welcome h5{
        font-size: 1em;
        margin-left: 65%;
    }
}

@media only screen and (max-width: 820px){
    .welcome h5{
        margin-left: 50%;
    }
}

@media only screen and (max-width: 425px){
    .welcome h5{
        margin-left: 20%;
    }
}

@media only screen and (max-width: 380px){
    .welcome h5{
        display: none;
    }

    .fa-user{
        display: block;
        font-size: 1.5em;
        margin-left: 45%;
        padding: 5%;
    }
}